<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-8 right">
				<h1>Welcome to AwaHub!</h1>
				<p>This is the server for employees of Awa, LLC. to communicate and share information.</p>
				<p>
					<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
					<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
				</p>
			</div>
			<div class="col-md-4 left">
				<span class="glyphicon glyphicon-book" style="font-size:120px;line-height:1;"></span>
			</div>
		</div>
	</div>
</div>
